.header{
    display: flex;
    justify-content: center;
    margin-top:10px;
    padding-top: 40px;

    input{
        height: 2rem;
        width: 25rem;
    }
    button{
        height: 2rem;
        width: 6rem;
    }
}